
.sign-up-container{
    display: flex;
    flex-direction: column;
    width: 380px;

    h2 {
        margin:10px 0px;
    }

    .signUp {
        margin: 10px 0px;
        font-size: 12px;
        .error{
            color: red;
        }
        .success{
            color: green;
        }
    }

    .roles{
        display: flex;
        justify-content:flex-start;
        margin-bottom: 15px;
        margin-top: 5px;
        .role{
            display: flex;
            align-items: center;
            justify-items: center;
            margin-right: 10px;
            
            input{
                margin-right:2px;
                margin-left: 0px;
            }
            label{
                margin-top: 2px;
            }
        }
    }
}